
labels: {}
  # tier: infra
  # feature: ambassador

replicaCount: 1

image:
  repository: tomwganem/ambassador-auth-jwt
  tag: 'v0.3.0'
  pullPolicy: IfNotPresent
  # pullSecret:

service:
  enabled: true
  type: ClusterIP
  # Configuration that will be added to the annotation
  config: {}
      # path_prefix:  "/auth"
      # proto: http
      # allow_request_body: false

sentry:
  environment: 'dev'
  dsn: ''

jwt:
  issuer: ''
  outboundHeader: x-session-token
  checkExp: true
  allowBasicAuthPassthrough: false
  # allowBasicAuthHeader: 'Authorization'
  # allowBasicAuthPathRegex: ''
  # newErrorMessageRegex: ''

resources: {}
nodeSelector: {}
affinity: {}
tolerations: {}
