---
apiVersion: v1
kind: ConfigMap
metadata:
  metadata:
  name: {{ template "ambassador-auth-jwt.fullname" . }}
  labels:
    app: {{ template "ambassador-auth-jwt.name" . }}
    chart: {{ template "ambassador-auth-jwt.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  SENTRY_CURRENT_ENV: {{ .Values.sentry.environment | quote}}
  SENTRY_DSN: {{ .Values.sentry.dsn | quote }}
  JWT_ISSUER: {{ .Values.jwt.issuer | quote }}
  JWT_OUTBOUND_HEADER: {{ .Values.jwt.outboundHeader | quote }}
  CHECK_EXP: {{ .Values.jwt.checkExp | quote}}
  ALLOW_BASIC_AUTH_PASSTHROUGH: {{ .Values.jwt.allowBasicAuthPassthrough | quote}}
  {{- if .Values.jwt.allowBasicAuthHeaders }}
  ALLOW_BASIC_AUTH_HEADERS: {{ .Values.jwt.allowBasicAuthHeaders | quote }}
  {{- end }}
  {{- if .Values.jwt.allowBasicAuthPathRegex }}
  ALLOW_BASIC_AUTH_PATH_REGEX: {{ .Values.jwt.allowBasicAuthPathRegex | quote }}
  {{- end }}
  {{- if .Values.jwt.newErrorMessageRegex }}
  NEW_ERROR_MESSAGE_REGEX: {{ .Values.jwt.newErrorMessageRegex | quote }}
  {{- end }}
